{% extends 'base.html.twig' %}

{% block title %}Atypik Home -
	{{title}}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('css/global') }}
	{{ encore_entry_link_tags('css/components/loader') }}
	{{ encore_entry_link_tags('css/components/navbar') }}
	{{ encore_entry_link_tags('css/components/footer') }}
	{{ encore_entry_link_tags('css/about_us') }}
{% endblock %}

{% block body %}
	<div class="header">
		<div class="title">
			<h1>A propos de nous ?</h1>
		</div>
	</div>

	<section class="menu01">

		<div class="menu-title">
			<h1>Notre Histoire</h1>
		</div>

		<div class="menu01-pt1">
			<div class="menu01-img">
				<img src="/build/images/about_us/bg01.jpg" alt="landscape">
			</div>
			<div class="menu01-text">
				<h3>L'Éveil de la Conscience</h3>
				<span>Notre histoire commence par une simple prise de conscience : le monde autour de nous change, et nous devons y répondre de manière significative. C'est là que notre engagement est né, un engagement envers la planète, envers les communautés locales et envers chaque voyageur qui cherche plus qu'une simple destination.</span>
				<h3>La Quête de la Durabilité</h3>
				<span>Nous nous sommes profondément préoccupés par les défis du réchauffement climatique. C'était une inquiétude que nous ne pouvions pas ignorer. Nous avons choisi de quitter nos emplois confortables pour nous engager dans un projet qui va au-delà des profits, un projet qui vise à créer un impact positif sur notre planète.</span>
			</div>
		</div>

		<div class="menu01-pt2">
			<div class="menu01-img">
				<img src="/build/images/about_us/bg02.jpg" alt="landscape">
			</div>
			<div class="menu01-text">
				<h3>Un Changement de Cap Audacieux</h3>
				<span>Il y a eu un moment où nous avons décidé de faire un changement audacieux. Nous avons quitté nos emplois stables pour nous lancer dans cette aventure, convaincus que nous pouvions faire la différence. Notre projet n'est pas seulement une entreprise, c'est une mission, un appel à l'action pour un avenir meilleur.</span>

				<h3>Le Début de la Révolution des Voyages</h3>
				<span>Notre projet n'est pas seulement une entreprise de location d'habitats alternatifs, c'est le début d'une révolution dans la manière dont les voyageurs vivent leurs expériences. Rejoignez-nous dans ce combat pour des voyages plus responsables, plus enrichissants et plus respectueux de notre belle planète.</span>
			</div>
		</div>
	</section>

	<section class="menu02">

		<div class="menu-title">
			<h1>Notre Mission</h1>
		</div>

		<div class="menu02-panel">
			<div class="menu02-img">
				<img src="/build/images/about_us/menu02.jpg" alt="landscape">
			</div>
			<div class="menu02-text">
				<h3>L'authenticité du voyage : Atypik Home vous guide</h3>
				<p>Chez
					<span>Atypik Home</span>, notre mission est de vous permettre de vivre chaque destination comme un habitant du coin. Nous croyons que chaque voyage devrait être une occasion de se connecter avec l'essence même d'une région, de ses
					<span>paysages panoramiques</span>
					à ses traditions locales en passant par ses saveurs authentiques. Notre sélection d'habitats alternatifs, allant des refuges bucoliques aux logements urbains
					<span>hors du commun</span>, reflète cette philosophie.</p>
			</div>
		</div>
	</section>

	<section class="menu03">

		<div class="menu-title">
			<h1>Rejoignez-Nous dans l'Aventure</h1>
		</div>

		<div class="menu03-panel">
			<div class="menu03-img">
				<img src="/build/images/about_us/menu03.jpg" alt="house">
			</div>
			<div class="menu03-text">
				<h3>Vivez des Expériences Inoubliables avec nos Locations Atypiques</h3>
				<p>Nous vous invitons à parcourir notre sélection de
					<span>locations</span>
					d'habitat alternatif en
					<span>France et en Europe</span>. Plongez-vous dans notre univers de cabanes pittoresques, de maisons d'artisans, de retraites
					<span>écologiques</span>
					et de refuges urbains créatifs. Chaque séjour réservé à travers Atypik Home est une promesse d'émerveillement et de
					<span>découverte</span>.
				</p>
			</div>
		</div>
	</section>

	<section class="menu04">

		<div class="menu-title">
			<h1>Notre Localisation</h1>
		</div>

		<div class="menu04-panel">
			<div class="menu04-img">
				<img src="/build/images/about_us/menu04_2.jpg" alt="Pierrefonds">
			</div>
			<div class="menu04-text">
				<h3>Le Département de l'Oise</h3>
				<p>Situé dans la région des
					<span>Hauts-de-France</span>, le département de l'Oise est un trésor caché de la
					<span>France</span>. Des forêts luxuriantes aux étendues de champs de fleurs, des petits villages pittoresques aux villes animées, l'Oise regorge de diversité. C'est un terrain de jeu pour les amoureux de la
					<span>nature</span>, les passionnés d'histoire et les curieux qui cherchent à vivre des expériences
					<span>authentiques</span>.
				</p>
			</div>
			<div class="menu04-text">
				<h3>Notre Localisation Stratégique</h3>
				<p>Notre choix d'établir notre base à
					<span>Pierrefonds</span>
					n'est pas un hasard. C'est un point stratégique qui nous permet de parcourir les routes de
					<span>France</span>
					et
					<span>d'Europe</span>
					à la recherche des lieux les plus extraordinaires. Nous croyons que chaque destination mérite d'être <span>explorée</span>, chaque coin de rue mérite d'être découvert, et c'est depuis <span>Pierrefonds</span> que nous commençons notre quête.
				</p>
			</div>
			<div class="menu04-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49459.12841558275!2d2.9252859790602233!3d49.345046049172126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e87dc052f0fe85%3A0x9ea46ada6243a0d2!2sPierrefonds!5e0!3m2!1sfr!2sfr!4v1694051463256!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				<div class="menu04-map-text">
					<h3>Atypik Home : contactez notre société localisé à Pierrefonds dans le département de l’Oise
					</h3>
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
